.header {
  text-align: left;
  border-bottom: 1px solid black;
  height: 10vh;
}
.header h1 {
  height: 4vh;
  padding-top: 4vh;
}

.page {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: auto;
  column-gap: 1vw;
  row-gap: 1vh;
  /* align-items: center; */
  text-align: left;
  padding-top: 10vh;
  padding-bottom: 10vh;
}
.page hr {
  margin-top: 10vh;
}

.page p {
  font-size: 1.25rem;
  letter-spacing: 0.1rem;
  line-height: 1.3em;
}

.page h2 {
  margin-top: 0;
  font-size: 20px;
  font-weight: 100;
  letter-spacing: normal;
  /* line-height: 3rem; */
}

.page section {
}

.image {
  /* width: auto;
  height: 80%;
  transition: transform 0.5s ease; */
  /* width: 30%;
  height: auto; */
}



.itemContainer {
  /* display: flex; */
  /* height: 350px; */
  /* animation: fadeInUp 1s; */
}

.itemContainer:hover {
  cursor: pointer;
}

/* .itemContainer:hover .image {
  transform: scale(1.05);
} */

/* .itemContainer:hover .link {
  opacity: 1;
  text-decoration-thickness: 1px;
} */

/* .itemContainer:hover h2 {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  animation: alternate-reverse;
} */

.infoWrapper {
  /* padding-left: 2vw;
  padding-right: 1vw;
  max-width: 40%; */
}
.overlayWrapper {
  max-width: 25vw;
}
.imageContainer {
  position: relative;
  /* width: 33%; */
  overflow: hidden;
  font-size: 0;
}
.imageContainer2 {
  position: relative;
  width: 49.5%;
  overflow: hidden;
  font-size: 0;
}


.detailsContainer {
  position: absolute;
  top: 0;
  width: 100%;
  backdrop-filter: blur(1px);
  background-color: #00000047;
}

/* .imageContainer h2{
  font-size: 26px;
  letter-spacing: 0;
  font-weight: 100;
  color: aliceblue;
} */

.imageContainer p{
  letter-spacing: 0;
  font-weight: 100;
  color: aliceblue;
}

/* .imageContainer:hover .image {
  transform: scale(1.05);
} */

.link {
  opacity: 0;
}

.link:hover {
  text-decoration: underline;
}

.link a {
  all: unset;
  font-weight: 100;
  letter-spacing: normal;
  font-size: 14px;
}

.modalInfoWrapper {
  max-width: 60vw;
}
.modalInfoWrapper p {
  font-weight: 300;
  font-size: 18.5px;
  letter-spacing: 0.2rem;
  line-height: 2rem;
}
.modalInfoWrapper h2 {
  font-weight: 100;
  letter-spacing: 0.1rem;
  line-height: 2rem;
}

.container {
  display: flex;
  justify-content: space-between;
}

.containerMiddle {
  display: flex;
  justify-content: space-between;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.moreContainer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  width: 100%;
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  background-color: #00000047;
  height: 5vh;
}

.moreContainer p{
  margin: 0;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
