.admin {
  width: 100%;
  margin-top: 10vh;
  box-shadow: 2px 2px 15px rgb(89 13 104 / 27%);
}

.admin thead {
  font-size: 24px;
  background-color: rgba(89, 13, 104, 0.433);
}

.admin tbody {
  font-size: 15px;
  background-color: #80008014;
}

.admin td {
  border-bottom: 1px solid #505050;
  /* font-size: 15px; */
  font-weight: 300;
  padding-left: 12px;
}

.admin tr {
  height: 8vh;
}

.admin tbody tr:hover {
  background-color: rgba(231, 236, 129, 0.397);
}

.admin .pending {
  background-color: #f5cdb469;
}
