.admin {
  width: 100%;
  /* margin-top: 10vh; */
  box-shadow: 2px 2px 15px #4d0013;
}

.admin thead {
  font-size: 24px;
  background-color: #4d0013;
  color: aliceblue;
}

.admin tbody {
  font-size: 15px;
  background-color: #4d001336;
}

.admin td {
  font-weight: 300;
  padding-left: 12px;
}

.tdContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 12px;
}

.tdContainer:hover img,
.tdContainer:hover span {
  text-decoration: underline;
  cursor: pointer;
  text-decoration-thickness: 1px;
}

.admin td img {
  height: 30px;
  width: auto;
}

.admin tr {
  height: 6vh;
}

.admin tbody tr:hover {
  background-color: rgba(231, 236, 129, 0.397);
  cursor: pointer;
}

.admin .pending {
  background-color: #ed9527;
}

.toolTip {
  min-height: 7vh;
  min-width: 10vw;
  color: aliceblue;
}