.admin {
    width: 100%;
}

.admin thead {
    font-size: 46px;
}

.admin tbody {
    font-size: 30px;
}

.admin td {
    border-bottom: 1px solid black;
}

.admin tr {
    height: 12vh;
}

.admin tbody tr:hover {
    background-color: azure;
}

.admin .pending {
    background-color: #f5cdb4;;
}