  .formcontainer {
    background-color: #d9d9d9b2;
    border: 0.5px solid black;
    width:80vh;
    height: 80vh;
    border-radius: 20px;
}
.logoIndigo {
    height: 12rem;
  width: auto;
}

/* .fullScreenImage {
  width: 100%;
} */
