/* .subHeader {
  display: flex;
} */
.header {
  text-align: left;
  margin-top: 5vh;
  margin-bottom: 6vh;
}
.blogPageContainer,
.blogPageContainerSkeleton {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
  margin-bottom: 5vh;
}

.blogPageContainer a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

.blogPageContainer p {
  letter-spacing: normal;
}
.blogPageContainer h2 {
  letter-spacing: normal;
  font-size: 18px;
  line-height: 1.5rem;
  font-weight: 300;
}

.blogPageContainer ul,
.blogPageContainerSkeleton ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  column-gap: 1.5vw;
  row-gap: 3vh;
  text-align: left;
}

.blogPageContainer li,
.blogPageContainerSkeleton li {
  width: 100%;
}

.blogPageContainer li:hover {
  transition: transform 550ms;
  cursor: pointer;
}

.blogPageContainer li:hover .hiddenContainer {
  opacity: 1;
}

.image {
  width: 100%;
  height: auto;
  transition: transform 0.5s ease;
}

.imageContainer {
  position: relative;
  font-size: 0;
  overflow: hidden;
}
.blogPageContainer p {
  font-size: 22px;
}
.imageContainer:hover .image {
  transform: scale(1.05);
  cursor: pointer;
}
.avatar {
  border: 1px solid white;
  filter: drop-shadow(0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.5));
  height: 40px;
  width: 40px;
}

.avatarAuthorContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1vh;
}

.avatarAuthor {
  display: flex;
  align-items: center;
  gap: 12px;
}

.avatarAuthorContainer p {
  margin: 0;
  color: black;
  font-size: 16px;
}

.hiddenContainer {
  opacity: 0;
}
.hiddenContainer {
  text-decoration: none;
  color: inherit;
  font-weight: 300;
}

.hiddenContainer:hover {
  text-decoration: underline;
  font-weight: 300;
  color: #0b0b0b;
}

.error {
  letter-spacing: normal;
}

@media only screen and (min-width: 1600px) and (max-width: 1920px) {
  .blogPageContainer ul,
  .blogPageContainerSkeleton ul {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2vw;
  }
  .avatar {
    height: 35px;
    width: 35px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .blogPageContainer ul,
  .blogPageContainerSkeleton ul {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1200px) {
  .blogPageContainer ul,
  .blogPageContainerSkeleton ul {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width: 800px) and (max-width: 1600px) {
  .header h1 {
    font-size: 24px;
  }
  .blogPageContainer h2 {
    font-size: 18px;
    margin-right: 2px;
  }
  .blogPageContainer ul,
  .blogPageContainerSkeleton ul {
    column-gap: 2vw;
  }

  .blogPageContainer p {
    font-size: 16px;
  }

  .avatarAuthorContainer p {
    font-size: 12px;
  }
  .avatar {
    height: 30px;
    width: 30px;
  }
}

@media only screen and (max-width: 800px) {
  .header h1 {
    font-size: 20px;
  }
  .blogPageContainer h2 {
    font-size: 16px;
    margin-right: 2px;
    font-weight: 300;
  }

  .blogPageContainer p {
    font-size: 12px;
  }

  .avatarAuthorContainer p {
    font-size: 12px;
  }
  .blogPageContainer ul,
  .blogPageContainerSkeleton ul {
    grid-template-columns: 1fr 1fr;
    column-gap: 5vw;
    display: block;
  }
  .blogPageContainer li {
    margin-bottom: 40px;
  }

  .avatar {
    height: 25px;
    width: 25px;
  }
}
