.subHeader {
  display: flex;
  flex-direction: column;
  text-align: left;
  max-width: 550px;
  line-height: 4rem;
  margin-left: 60px;
}

.header {
  text-align: left;
  margin-top: 5vh;
  margin-bottom: 6vh;
}

.openingSection {
  display: flex;
  height: 400px;
}

.openingSection,
.secondSection {
  /* margin-top: 15vh; */
  margin-bottom: 5vh;
}

/* .openingSection p {
      padding: 20px;
      margin: 0;
      max-width: 60vw;
    } */

.openingSection p,
.secondSection p {
  text-align: left;
  letter-spacing: normal;
  line-height: 1.5rem;
}

.image {
  width: auto;
  height: 100%;
}

.avatarAuthor {
  display: flex;
  align-items: center;
  gap: 5px;
}

.blogPost {
  text-align: left;
  letter-spacing: normal;
}

.blogPost p,
.blogPost h2 {
  text-align: left;
  letter-spacing: normal;
  line-height: 1.5rem;
  text-align: left;
}

.blogPost h2 {
  font-size: 30px;
  font-weight: 100;
}

.avatarAuthor p,
.avatarAuthor h2 {
  margin: 0;
  text-align: left;
}
.subHeader > h1 {
  font-size: 46px;
  font-weight: 100;
  letter-spacing: 0.1rem;
}

.subHeader > p {
  font-size: 28px;
}

/* .thirdSection > h2 {
      font-size: 100px;
    } */

.carouselContainer {
  width: 60vw;
  margin: auto;
}

.heroWrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.heroWrapper h1 {
  margin-top: 0;
  font-size: 55px;
  color: aliceblue;
  font-weight: 200;
}

.heroWrapper h2 {
  margin-top: 0;
  font-size: 30px;
  color: aliceblue;
  font-weight: 300;
}

.heroWrapper p {
  font-size: 26px;
  color: aliceblue;
  font-weight: 100;
}

.propertyInfo {
  padding: 1.5vh;
  width: 12vw;
  display: flex;
  flex-direction: column;
  margin-left: 5vw;
  margin-top: 5vh;
  /* background-color: rgba(240, 248, 255, 0.533); */
  background-color: rgba(40, 40, 40, 0.456);
  backdrop-filter: blur(5px);
}
.propertyInfo p {
  font-size: 20px;
  font-weight: 200;
}
.titleHeader {
  padding-top: 5vh;
  padding-bottom: 2vh;
  background-color: rgba(40, 40, 40, 0.456);
  backdrop-filter: blur(5px);
}

.linkContainer {
  background-color: rgba(40, 40, 40, 0.456);
  backdrop-filter: blur(5px);
  position: absolute;
  bottom: 5vh;
  left: 5vw;
  width: 12vw;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.linkContainer a {
  font-weight: 100;
  font-size: 30px;
  color: aliceblue;
  text-decoration: inherit; /* no underline */
}

.linkContainer a:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}
