.header {
  text-align: left;
  border-bottom: 1px solid black;
  height: 10vh;
}
.header h1 {
  height: 4vh;
  padding-top: 4vh;
}

.itemContainer {
  display: flex;
  flex-direction: column;
  margin-top: 5vh;
  margin-bottom: 5vh;
}
.upperContainer {
  display: flex;
}

.upperContainer h2 {
  font-size: 36px;
  font-weight: 400;
}

.infoContainer {
  text-align: left;
  display: flex;
  flex-direction: column;
  margin-left: 2vw;
}

.lowerContainer {
  display: flex;
  text-align: left;
  letter-spacing: normal;
  margin-top: 2vh;
}

.lowerContainer ul {
  list-style-type: circle;
  list-style-position: inside;
  line-height: 2.4em;
}
.lowerContainerLeft {
  margin: auto;
}

.lowerContainerLeft li {
  font-size: 28px;
  font-weight: 100;
}

.lowerContainerRight {
  flex: 2;
}
.carousel {
  height: 400px;
  width: 800px;
  margin: auto;
}

.image {
  width: 500px;
  height: auto;
}
