.button {
  background: none;
  color: aliceblue;
  padding: 0;
  font: inherit;
  cursor: pointer;
  border: none;
}

.arrow {
  height: 10px;
  width: auto;
}
.disabled {
  border: 1px solid #505050;
  background-color: light-dark(rgba(150, 74, 74, 0.3), rgba(19, 1, 1, 0.3));
  color: light-dark(rgba(16, 16, 16, 0.3), rgba(255, 255, 255, 0.3));
  border-color: light-dark(rgba(118, 118, 118, 0.3));
  width: 120px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-weight: 200;
}

.wrapper {
  border: 1px solid #505050;
  border-radius: 5px;
  width: 90px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: #68a2aeb0;
  font-weight: 200;
}

.wrapper:hover {
  cursor: pointer;
  background-color: #50505028;
}
.link {
  text-decoration: none;
  color: #505050;
}

@media only screen and (min-width: 1800px) {
  .button {
    font-size: 0.8rem;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1799px) {
  .button {
    font-size: 0.7rem;
  }
}
