/** @format */

.personalDetailsForm {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  letter-spacing: 0;
  font-weight: 300;
}
.retryWrapper {
  display: flex;
}
.personalDetailsForm p {
  margin-bottom: 0;
  margin-top: 10px;
}

.formItemContainer {
  display: flex;
  padding: 10px;
  padding-bottom: 0;
  flex-direction: column;
  align-items: flex-start;
}

.buttonWrapper {
  display: flex;
  justify-content: end;
  margin-top: 3vh;
  margin-bottom: 2vh;
  padding-right: 10px;
}

.buttonWrapper p {
  font-size: 16px;
  color: #4d0013;
  font-weight: 400;
  max-width: 20vw;
  margin-bottom: 0;
  margin-right: 2vw;
}
.doubleButtonWrapper {
  display: flex;
  gap: 2vw;
}

.enabled input[type="text"],
.enabled input[type="email"],
.enabled input[type="password"] {
  background-color: #4d00133d;
}

.ItemA {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
}

.errorA {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
}

.ItemB {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
}
.errorB {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
}

.ItemC {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 3;
}

.errorC {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 4;
}

.ItemD {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 3;
}

.errorD {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 4;
}

.ItemE {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 5;
  grid-row-end: 5;
}

.errorE {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 6;
  grid-row-end: 6;
}

.ItemF {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 5;
}

.errorF {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 6;
  grid-row-end: 6;
}
