.form {
    display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  grid-template-rows: repeat(4, 1fr);    /* 3 rows */
  gap: 10px; /* optional spacing */
  align-items: end;
}
.form label {
  margin-bottom: 1vh;
}

.spanTwoColumns {
  grid-column: 1 / 3; /* spans column 1 to 2 (3 is exclusive) */
  grid-row: 4;        /* places it in the 4th row */
  margin: auto;
}

.buttonFlex{
  display: flex;
}

.formControl {
  margin-top: 1vh;
}