/**
 * @format
 * @tailwind base;
 * @tailwind components;
 */

@tailwind utilities;

#root {
  text-align: center;
  background-color: #faefe8;
}

body {
  font-optical-sizing: auto;
  font-style: normal;
  color: #505050;
  margin: 0;
  letter-spacing: 0.16em;
  text-align: center;
  background-color: #f5f5f5d1;
}

body,
html {
  margin: 0;
  padding: 0;
  --webkit-text-size-adjust: 12px;
}

h1,
h2 {
  font-optical-sizing: auto;
  font-weight: 300;
}

p,
button {
  font-weight: 300;
  font-size: 18px;
  margin-top: 0;
}

html:has(.modal) {
  overflow: hidden;
}

.header {
  text-align: left;
  margin-top: 5vh;
  margin-bottom: 5vh;
  /* letter-spacing: normal; */
}

.not-found {
  height: 70vh;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../public//images/pages/home/greecehero2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(61 61 61 / 90%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.fullscreen-image {
  width: 100%;
}

.fullscreen-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

 input[type="text"]:not(.mui-isolated-input) {
  font: inherit;
  border: 1px solid;
  height: 2rem;
  width: 100%;
  background-color: #ffffffc7;
  color: black;
  border-radius: 4px;
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
}

input[type="email"] {
  font: inherit;
  border: 1px solid;
  height: 2rem;
  width: 100%;
  background-color: #ffffffc7;
  color: black;
  border-radius: 4px;
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
}

textarea {
  font: inherit;
  border: 1px solid;
  width: 100%;
  background-color: #ffffffc7;
  color: black;
  border-radius: 4px;
  resize: none;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}

input[type="checkbox"] {
  transform: scale(1.2);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

main {
  padding-left: 4.5vw;
  padding-right: 4.5vw;
}

.properties-loading-layout {
  min-height: 70vh;
  /* margin-bottom: 20px;
  margin-top: 30px; */
}
.spinner {
  /* height: 100px;
  width: 100px; */
}

.skeleton {
}

.share-icon {
  height: 25px;
  width: auto;
  filter: opacity(0.5);
}

.share-icon-white {
  height: 25px;
  width: auto;
}

.share-icon:hover,
.share-icon-white:hover {
  cursor: pointer;
}

.admin-page-wrapper {
  min-height: calc(100vh - 10vh);
}

.error-boundary {
  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing: normal;
  gap: 2vh;
}

.error-boundary a {
  all: unset;
}

.error-boundary a:hover {
  text-decoration: underline;
  cursor: pointer;
  text-decoration-thickness: 1px;
}

.submit-button-container {
  width: 200px;
  height: 50px;
  justify-self: center;
}

.swiper-button-prev {
  color: aliceblue;
}

.error-button-container {
  margin: 2vh;
  display: flex;
  width: 100px;
  height: 30px;
}
.error-button-container p {
  margin: 0;
  font-size: 16px;
}

.submitButtonContainer {
  margin: 2vh;
  display: flex;
  width: 100px;
  height: 30px;
}

@media only screen and (min-width: 1800px) and (max-width: 1920px) {
  .header h1 {
    font-size: 26px;
  }

  .submit-button-container {
    width: 150px;
    height: 40px;
  }
}

@media only screen and (min-width: 1600px) and (max-width: 1800px) {
  .header h1 {
    font-size: 26px;
  }

  .submit-button-container {
    width: 150px;
    height: 40px;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1600px) {
  .header h1 {
    font-size: 24px;
    color: black;
  }

  .submit-button-container {
    width: 130px;
    height: 40px;
  }

  .error-button-container p {
    margin: 0;
    font-size: 14px;
  }
}

@media only screen and (max-width: 800px) {
  .header h1 {
    font-size: 20px;
  }

  .error-button-container p {
    margin: 0;
    font-size: 12px;
  }
  .submit-button-container {
    width: 120px;
    height: 35px;
  }
  @media only screen and (max-width: 600px) {
    .share-icon {
      margin-bottom: 10px;
    }
  }
}
