.buttonContainer a img,
.buttonContainer a button {
  transition: 0.3s;
}
.buttonContainer a:hover button + img {
  transform: translateX(10px);
}
.buttonContainer a:hover button {
  transform: translateX(-5px);
}

.poshImage {
  margin-top:5vh;
  margin-bottom:5vh;
  width: 40%;
  height: auto;
}
.paragraph {
  color: #505050;
}

/* .section1 img {
  max-width: 40%;
} */

.subHeader {
  display: flex;
  justify-content: center;
} 

.leftArrowSvg {
  height: 50px;
}

.hero-contents {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.imageContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10vh;
}
.heroHeader {
  color: aliceblue;
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  width: 100%;
}
.heroHeader a {
  color: aliceblue;
}

.heroHeader button {
  color: aliceblue;
  font-weight: 600;
}


.section3 {
  display: flex;
  flex-direction: column;
  min-height: 50vh;
  justify-content: center;
  align-items: center;
}
.section3Div {
  max-width: 70vw;
}

.btnWrapper {
  margin-top: 2rem;
}

.letsTalkContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4vh;
  margin-bottom: 5vh;
}

.buttonContainer {
  display: flex;
  justify-content: center
}

.lower {
  display: flex;
  flex-direction: column;
  align-items: center
}
.lower h1{
  width:70%;
  line-height: 4.5rem;
  letter-spacing: 1.5px;

}