.overlay {
    border: 0.5px solid rgba(217, 217, 217, 0.686);
    background-color: rgba(217, 217, 217, 0.686);
    /* width: 70vw;
    color: #505050;
    font-size: 26px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    letter-spacing: 0.08em; */
  }
