.overlay {
  border-radius: 8px;
  color: aliceblue;
  font-style: normal;
  font-weight: 500;
  line-height: 1.8rem;
  letter-spacing: 0.16em;
  padding: 45px;
  padding-left: 60px;
  padding-right: 60px;

  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.9);
}

/* .overlay h1 {
  font-size: 1.6rem;
  line-height: 1.6;
  font-weight: 300;
} */

@media only screen and (min-width: 1800px) {
  /* .overlay h1 {
    font-size: 1.6rem;
  } */
}
@media only screen and (min-width: 1200px) and (max-width: 1799px) {
  /* .overlay h1 {
    font-size: 1.5rem;
  } */
}

@media only screen and (min-width: 800px) and (max-width: 1199px) {
  /* .overlay h1 {
    font-size: 1.2rem;
  } */
  .overlay {
    padding: 50px;
    padding-left: 80px;
    padding-right: 80px;
  }
}

@media only screen and (max-width: 800px) {
  .overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    padding-left: 0;
    padding-right: 0;
    /* width: 100%; */
  }
  /* .overlay h1 {
    font-size: 1.1rem;
    font-weight: 300;
    padding: 0.85vh;
  } */
}
