.overlay {
  border: 0.5px solid #faefe86e;
  border-radius: 8px;
  background-color: #faefe86e;
  border-radius: 4px;
  color: #3a3939f2;
  font-style: normal;
  font-weight: 200;
  line-height: 2.5rem;
  letter-spacing: 0.16em;
  padding: 50px;
  padding-left: 80px;
  padding-right: 80px;
  filter: invert(1);
}

.overlay h1 {
  font-size: 38px;
  font-weight: 200;
}

@media only screen and (min-width: 1800px) {
  .overlay h1 {
    font-size: 2rem;
    font-weight: 200;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1799px) {
  .overlay h1 {
    font-size: 1.8rem;
    font-weight: 200;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1199px) {
  .overlay h1 {
    font-size: 1.7rem;
    font-weight: 200;
  }
  .overlay {
    width: 80vw;
    padding: 50px;
    padding-left: 80px;
    padding-right: 80px;
  }
}

@media only screen and (max-width: 800px) {
  .overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 30vh;
    padding: 0;
    padding-left: 0;
    padding-right: 0;
    /* width: 100%; */
  }
  .overlay h1 {
    font-size: 1.2rem;
    font-weight: 200;
  }
}
