.button {
  background: none;
  color: inherit;
  padding: 0;
  font: inherit;
  cursor: pointer;
  border: none;
}

.arrow {
  height: 10px;
}

.wrapper {
  border: 1px solid #505050;
  color: rgb(251, 253, 254);

  width: 200px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  background-color: #7b0d1e;
  font-weight: 200;
  margin-top: 40px;
}

.wrapper:hover {
  cursor: pointer;
  background-color: #da627d;
  color: rgb(40, 40, 40);
  color: rgb(251, 253, 254);
}
.link {
  text-decoration: none;
  color: #505050;
}

/* .linkWrapper {
} */

.linkWrapper a img,
.linkWrapper a button {
  transition: 0.3s;
}
.linkWrapper a:hover button + img {
  transform: translateX(10px);
}
.linkWrapper a:hover button {
  transform: translateX(-5px);
}

@media only screen and (min-width: 1800px) {
  .button {
    font-size: 0.8rem;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1799px) {
  .button {
    font-size: 0.7rem;
  }
}
