.button {
  background: none;
  color: inherit;
  padding: 0;
  font: inherit;
  cursor: pointer;
  border: none;
}

.arrow {
  height: 10px;
}

.wrapper {
  border: 1px solid #505050;
  width: 300px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: #50505014;
}

.wrapper:hover {
  cursor: pointer;
  background-color: #50505028;
}
.link {
  text-decoration: none;
  color: #505050;
}
