.formItemContainer {
  display: flex;
  padding: 5px;
  flex-direction: column;
  align-items: flex-start;
  width: 40%;
}

.pageWrapper {
  height: 100vh;
}

.formcontainer {
  margin: auto;
  margin-top: 10vh;
  padding: 20px;
  padding-bottom: 50px;
  border-radius: 10px;
  background-color: #ffffffcc;
  position: relative;
  width: 40vw;
  height: 30vh;
  line-height: 2rem;
  letter-spacing: normal;
  box-shadow: 1px 1px 1px;
}

.formcontainer a {
  text-decoration: none;
  color: #4d0013;
}

.formcontainer a:hover {

  text-decoration: underline;
  text-decoration-thickness: 1px

}

.logoIndigo {
  height: 12rem;
  width: auto;
}

.imageWrapper {
  position: relative;
  z-index: -1;
  background-color: rgb(10 10 10 / 83%);
}

.imageHero {
  color: transparent;
  position: relative;
  height: 90vh;
  width: 100%;
  inset: 0px;
  opacity: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.heroContent {
  left: 0;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .logoIndigo {
    height: 10rem;
    width: auto;
  }
  .submitButtonContainer {
    margin: 2vh;
    display: flex;
    width: 100px;
    height: 20px;
  }
}
