.pageWrapper {
  height: 100vh;
}

.formcontainer {
  margin: auto;
  margin-top: 10vh;
  padding: 20px;
  padding-bottom: 50px;
  border-radius: 10px;
  background-color: #ffffffcc;
  position: relative;
  width: 40vw;
  height: fit-content;
  line-height: 2rem;
  letter-spacing: normal;
  box-shadow: 1px 1px 1px;
}

.formcontainer a {
  text-decoration: none;
  color: #4d0013;
}

.formcontainer a:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px
}

@media only screen and (max-width: 1600px) {

  .formcontainer {
    line-height: 1.6rem;
  }

  .formcontainer h1 {
    font-size: 28px;
  }

  .formcontainer h2 {
    font-size: 20px;
  }

  .formcontainer p {
    font-size: 18px;
  }
}


@media only screen and (max-width: 1200px) {

  .formcontainer {
    width: 60vw;
    line-height: 1.6rem;
  }

  .formcontainer h1 {
    font-size: 26px;
  }

  .formcontainer h2 {
    font-size: 18px;
  }

  .formcontainer p {
    font-size: 16px;
  }
}

@media only screen and (max-width: 600px) {

  .formcontainer {
    width: 80vw;
    line-height: 1.4rem;
  }

  .formcontainer h1 {
    font-size: 24px;
  }

  .formcontainer h2 {
    font-size: 18px;
  }

  .formcontainer p {
    font-size: 16px;
  }

}
