/** @format */

.pageWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 75vh;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 40%;
}

.formMobile {
  display: none;
}

.pageWrapper p {
  line-height: 2.2rem;
  font-size: 24px;
  font-weight: 300;
  animation: fadeIn 2s;
  max-width: 60vw;
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.pageWrapper h2 {
  font-weight: 300;
  font-size: 30px;
}

.phoneIcon {
  height: auto;
  width: 40px;
  margin: 20px;
}
.formcontainer {
  animation: fadeInLeft 1s;
}

.letsTalk {
  flex: 1 1 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeInRight 1s;
}

.wrapper {
  display: flex;
}

.wrapper span {
  border-right: 1px solid rgba(0, 0, 0, 0.563);
}
.phoneAndEmail {
  margin-top: 1vh;
  line-height: 1.5vw;

  font-size: 10px;
}

.phoneAndEmail h3 {
  font-weight: 300;
  font-size: 26px;
}

.mobileWrapper {
  display: none;
}

.ModalBackdropWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  overflow: hidden;
  height: 100%;
  background-color: #faefe8;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
}

.ModalBackdropWrapperOpen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #faefe8;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media only screen and (min-width: 1800px) and (max-width: 1920px) {
  .pageWrapper h2 {
    font-size: 22px;
  }

  .pageWrapper p {
    font-size: 18px;
    line-height: 2rem;
  }

  .pageWrapper h3 {
    font-size: 18px;
  }
  .pageWrapper img {
    height: 30px;
    width: auto;
  }
}

@media only screen and (min-width: 1600px) and (max-width: 1800px) {
  .mobileWrapper .contactIcon {
    height: auto;
    width: 30px;
  }
  .pageWrapper h2 {
    font-size: 25px;
  }
  .pageWrapper p {
    font-size: 16px;
    line-height: 1.8rem;
  }

  .phoneAndEmail {
    line-height: 3vw;
    /* letter-spacing: 0.4vh; */
    font-size: 9px;
  }

  .pageWrapper h3 {
    font-size: 18px;
  }
  .phoneIcon {
    height: auto;
    width: 35px;
  }
}

/* Small laptop (macbook air) sized screen (min-width: 600px) and (max-width: 1600px) */
@media only screen and (min-width: 800px) and (max-width: 1600px) {
  .formContainer {
    width: unset;
    width: 80%;
  }
  .phoneIcon {
    height: auto;
    width: 35px;
    margin-top: 0;
  }

  .mobileWrapper .contactIcon {
    height: auto;
    width: 20px;
  }

  .pageWrapper p {
    font-size: 18px;
    line-height: 1.7rem;
    max-width: 550px;
    letter-spacing: 0.05rem;
  }

  .pageWrapper h2 {
    font-size: 27px;
    color: black;
  }

  .phoneAndEmail h3 {
    font-size: 22px;
    line-height: 1.8rem;
  }
}

@media only screen and (max-width: 600px) {
  .phoneIcon {
    width: 3rem;
  }
  .pageWrapper p {
    line-height: 1.5rem;
    font-size: 16px;
    letter-spacing: normal;
  }

  .phoneAndEmail {
    margin-top: 2;
    line-height: 6vh;
    letter-spacing: normal;
  }
  .formItemContainer input::placeholder {
    font-size: 14px;
  }
  .loginForm textarea {
    background-color: #fff;
  }
}

@media only screen and (max-width: 800px) {
  .formMobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 40%;
    margin-top: 4vh;
  }

  .formMobile img {
    height: 30px;
    width: auto;
    margin: 0;
  }
  .logoIndigo {
    height: 10rem;
    width: auto;
  }
  .submitButtonContainer {
    margin: 2vh;
    display: flex;
    width: 100px;
    height: 20px;
  }

  .pageWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: unset;
    margin-top: 10vh;
  }

  .pageWrapper p {
    line-height: 1.5rem;
    font-size: 16px;
    font-weight: 300;
    animation: fadeIn 2s;
    max-width: 70vw;
    text-align: justify;
  }

  .pageWrapper p:nth-child(1) {
    animation: fadeInLeft 0.5s;
    animation-delay: 0.2s;
    animation-fill-mode: backwards;
    animation-timing-function: ease-out;
  }

  .letsTalk {
    animation: unset;
  }

  .letsTalk h2 {
    animation: fadeInLeft 0.5s;
    animation-delay: 0.4s;
    animation-fill-mode: backwards;
    animation-timing-function: ease-out;
  }
  .letsTalk img {
    animation: fadeInLeft 0.5s;
    animation-delay: 0.6s;
    animation-fill-mode: backwards;
    animation-timing-function: ease-out;
  }

  .letsTalk img {
    animation: fadeInLeft 0.5s;
    animation-delay: 0.6s;
    animation-fill-mode: backwards;
    animation-timing-function: ease-out;
  }

  .phoneAndEmail {
    margin-top: 0;
    line-height: 6vh;
  }

  .phoneAndEmail h3:nth-child(1) {
    animation: fadeInLeft 0.5s;
    animation-delay: 0.8s;
    animation-fill-mode: backwards;
    animation-timing-function: ease-out;
  }

  .phoneAndEmail h3:nth-child(2) {
    animation: fadeInLeft 0.5s;
    animation-delay: 1s;
    animation-fill-mode: backwards;
    animation-timing-function: ease-out;
  }

  .formcontainer {
    animation: unset;
    width: 80%;
  }

  .formcontainer h2 {
    animation: fadeInLeft 0.5s;
    animation-delay: 1.2s;
    animation-fill-mode: backwards;
    animation-timing-function: ease-out;
  }

  .formcontainer img {
    animation: fadeInLeft 0.5s;
    animation-delay: 1.4s;
    animation-fill-mode: backwards;
    animation-timing-function: ease-out;
  }

  .pageWrapper h2 {
    font-size: 20px;
  }

  .wrapper {
    flex-direction: column;
  }

  /* .phoneAndEmail {
    margin-top: 0;
    line-height: 4vh;
    letter-spacing: 0.1rem;
  } */

  .phoneAndEmail h3 {
    font-weight: 300;
    font-size: 16px;
  }

  .wrapperViewport {
    display: none;
  }

  .mobileWrapper {
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
    justify-content: space-around;
    gap: 5vh;
  }

  .formcontainer h2 {
    font-size: 22px;
  }
}
