.header {
  text-align: left;
  margin-top: 5vh;
  margin-bottom: 6vh;
}

.header h1 {
  font-weight: 200;
}

.subHeader {
  display: flex;
  flex-direction: column;
  text-align: left;
  max-width: 550px;
  line-height: 4rem;
  margin-left: 60px;
  gap: 2vh;
}

.openingSection {
  display: flex;
}

.newsLetterSection {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.newsLetterSection form {
  width: 70%;
}

.openingSection,
.secondSection,
.newsLetterSection {
  /* margin-top: 10vh; */
  margin-bottom: 5vh;
}

.openingSection p,
.secondSection p {
  text-align: left;
  letter-spacing: normal;
  line-height: 1.5rem;
}

.image {
  width: auto;
  height: 100%;
  transition: transform 0.5s ease;
}

.avatarAuthor {
  display: flex;
  align-items: center;
  gap: 5px;
}

.blogPost {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-bottom: 5vh;
}

.blogPost p,
.blogPost h2 {
  text-align: left;
  letter-spacing: normal;
  line-height: 1.5rem;
  text-align: left;
  max-width: 1200px;
  line-height: 2.5rem;
  margin: 0;
}

.blogPost h2 {
  font-size: 30px;
  font-weight: 300;
  line-height: 2.5rem;
  max-width: 700px;
  margin-bottom: 3vh;
}

.newsLetterSection h2 {
  margin-left: 48px;
  font-weight: 500;
  letter-spacing: 0.1vh;
}

.avatarAuthor p,
.avatarAuthor h2 {
  margin: 0;
  text-align: left;
}
.subHeader > h1 {
  font-size: 46px;
  font-weight: 600;
  color: #505050;
  line-height: 4.2rem;
  margin: 0;
}

.subHeader > p {
  font-size: 28px;
}

/* .shareIconContainer {
  display: flex;
  align-items: center;
  margin-top: 3vh;
  gap: 1vw;
} */
.shareIconContainer p {
  margin: 0;
}
.thirdSection {
  margin-bottom: 5vh;
}

.imageContainer {
  height: 500px;
  width: auto;
  overflow: hidden;
}

.formContainer p {
  flex: 2;
}
.imageContainer:hover .image {
  transform: scale(1.05);
  cursor: pointer;
}

.column1 {
  /* border-right: 1px solid black; */
  padding-right: 20px;
}

.column2 {
  /* padding: 20px; */
  padding-left: 20px;
}

.formContainer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  width: 100%;
}

.blogPost input[type="email"] {
  border: none;
  border-bottom: 2px solid black;
  border-radius: 0;
  padding: 0;
  /* border-bottom: 2px solid black; */
  height: 3rem;
  width: 150%;
  background-color: #ffffff00;
  color: #505050;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}

@media only screen and (min-width: 1800px) {
  .subHeader > h1 {
    font-size: 56px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1799px) {
  .subHeader > h1 {
    font-size: 40px;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1199px) {
}
