.header {
  text-align: left;
  margin-top: 5vh;
  margin-bottom: 6vh;
}

.header h1 {
  font-weight: 300;
}

.subHeader {
  display: flex;
  flex-direction: column;
  text-align: left;
  flex: 1;
  max-width: 550px;
  line-height: 4rem;
  margin-left: 60px;
  gap: 2.5vh;
}

.subHeaderSkeleton {
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: left;
  line-height: 4rem;
  margin-left: 60px;
  gap: 2vh;
}

.openingSection {
  display: flex;
}

.openingSection > h1 {
  display: none;
}

.newsLetterSection {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.newsLetterSection form {
  width: 70%;
}

.openingSection,
.secondSection,
.newsLetterSection {
  margin-bottom: 5vh;
  line-height: 2.5vh;
}

.openingSection p,
.secondSection p {
  text-align: left;
  letter-spacing: normal;
  line-height: 1.5rem;
}

.image {
  width: 100%;
  height: auto;
  transition: transform 0.5s ease;
}

.avatar {
  border: 1px solid white;
  filter: drop-shadow(0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.5));
}

/* .avatarAuthor {
  display: flex;
  align-items: center;
  gap: 12px;
} */

.avatarAuthor a,
.avatarAuthorSkeleton {
  all: unset;
  display: flex;
  align-items: center;
  gap: 12px;
}

.avatarAuthor:hover {
  cursor: pointer;
}

.avatarAuthor:hover p {
  text-decoration: underline;
}

.blogPost {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-bottom: 5vh;
}

.blogPost p,
.blogPost h2 {
  text-align: left;
  letter-spacing: normal;
  line-height: 1.5rem;
  text-align: left;
  max-width: 1200px;
  line-height: 2.5rem;
  margin: 0;
}

.blogPost h2 {
  font-size: 24px;
  font-weight: 300;
  line-height: 2.5rem;
  max-width: 700px;
  margin-bottom: 3vh;
}

.newsLetterSection > h2 {
  margin-left: 48px;
  font-weight: 500;
  letter-spacing: 0.1vh;
}

.avatarAuthor p,
.avatarAuthor h2 {
  margin: 0;
  text-align: left;
}
.subHeader > h1 {
  font-size: 46px;
  letter-spacing: normal;
  font-weight: 600;
  color: #505050;
  line-height: 4.2rem;
  margin: 0;
}

.subHeader > p {
  font-size: 24px;
}

.newsLetterSection > h2 {
  margin: unset;
}
.submitButtonContainer {
  margin-top: 2vh;
  display: flex;
  width: 150px;
  height: 40px;
}

.submitButtonOuterContainer {
  display: flex;
  justify-content: flex-end;
}
.shareIconContainer {
  line-height: 4rem;
}
.shareIconContainer p {
  margin: 0;
}
.shareIcon {
  filter: opacity(0.5);
}
.thirdSection {
  margin-bottom: 5vh;
}

.imageContainer {
  min-width: 500px;
  width: 600px;
  font-size: 0;
  overflow: hidden;
}

.imageContainer:hover .image {
  transform: scale(1.05);
  cursor: pointer;
}

.column1 {
  padding-right: 20px;
}

.column2 {
  padding-left: 20px;
}

.blogPost input[type="email"] {
  border: none;
  border-bottom: 2px solid black;
  border-radius: 0;
  padding: 0;
  height: 3rem;
  width: 50%;
  background-color: #ffffff00;
  color: #505050;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}

.errorWrapper {
  display: flex;
  flex-direction: column;
  padding-top: 15vh;
}

.errorWrapper a {
  all: unset;
}

.errorWrapper a:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  cursor: pointer;
}

@media only screen and (min-width: 1800px) {
  .subHeader > h1 {
    font-size: 40px;
    font-weight: 400;
    line-height: 3.5rem;
  }
  .blogPost h2 {
    font-size: 32px;
    line-height: 2.5rem;
    max-width: 1000px;
    margin-bottom: 3vh;
  }
  .subHeader > p {
    font-size: 26px;
  }
}

@media only screen and (max-width: 2000px) {
  .subHeader > h1 {
    font-size: 36px;
  }
  .imageContainer {
    min-width: 350px;
    width: 400px;
    font-size: 0;
    overflow: hidden;
  }

  .plusIcon {
    height: 25px;
    width: auto;
  }

  /* .image {
    max-width: 400px;
  } */
}

@media only screen and (min-width: 1600px) and (max-width: 1799px) {
  .subHeader > h1 {
    font-size: 36px;
  }

  .submitButtonContainer {
    display: flex;
    width: 100px;
    height: 35px;
  }

  .imageContainer {
    min-width: 350px;
    width: 400px;
    font-size: 0;
    overflow: hidden;
  }

  .image {
    max-width: 400px;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1600px) {
  .subHeader {
    margin-left: 2vw;
  }
  .subHeader > h1 {
    font-size: 24px;
    line-height: 2.5rem;
  }
  .subHeader > p {
    font-size: 16px;
  }

  .subHeader p {
    line-height: normal;
  }

  .avatarAuthor p {
    font-size: 16px;
  }

  .avatar {
    width: 34px;
    height: 34px;
  }

  .blogPost p,
  .blogPost h2 {
    max-width: unset;
    line-height: 1.5rem;
  }
  .blogPost h2 {
    font-weight: 400;
  }

  .newsLetterSection > h2 {
    padding-right: 36px;
    /* letter-spacing: 0.1vh; */
    font-size: 20px;
  }

  .imageContainer {
    min-width: 400px;
    width: unset;
  }

  .image {
    max-width: 400px;
  }
  .thirdSection p,
  .secondSection p {
    font-size: 16px;
    margin-top: 50px;
  }

  .plusIcon {
    height: 26px;
    width: auto;
  }
  .submitButtonContainer {
    display: flex;
    width: 100px;
    height: 35px;
  }
  .blogPost input[type="email"] {
    font-size: 15px;
    border-width: 1px;
    height: 2.5rem;
  }
}

@media only screen and (max-width: 1100px) {
  .subHeader {
    gap: 1vh;
    line-height: normal;
  }
  .subHeader > h1 {
    font-size: 22px;
    line-height: 1.8rem;
  }
  .subHeader p {
    font-size: 16px;
    line-height: 1.4rem;
  }
}

@media only screen and (min-width: 800px) {
  .tobeHiddenSkeleton {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  .header {
    margin-bottom: 2vh;
  }

  .openingSection {
    flex-direction: column;
    margin-bottom: 4vh;
  }

  .openingSection h1 {
    line-height: 2rem;
  }

  .blogPost {
    grid-template-columns: 1fr;
    margin-bottom: 5vh;
  }

  .blogPost p,
  .blogPost h2 {
    max-width: unset;
    line-height: 2rem;
    font-size: 20px;
  }

  .subHeader {
    margin-left: 0;
    line-height: unset;
    gap: 3vh;
  }

  .openingSection > h1 {
    text-align: left;
    display: flex;
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 20px;
  }

  .subHeader > h1 {
    display: none;
  }

  .subHeader > p {
    font-size: 20px;
  }

  .tobeHiddenSkeleton2 {
    display: none;
  }

  .column1 {
    padding-right: 0;
  }
  .column2 {
    padding-left: 0;
  }

  .imageContainer {
    min-width: unset;
    width: unset;
    margin-bottom: 2vh;
  }

  .imageContainerSkeleton {
    height: 35vh;
    margin-top: 2vh;
  }

  .shareIcon {
    height: 18px;
    width: auto;
  }

  .newsLetterSection {
    align-items: flex-start;
  }

  .newsLetterSection > h2 {
    margin-left: 0;
  }

  .blogPost input[type="email"] {
    width: 100%;
  }

  .subHeaderSkeleton {
    margin-left: 0;
  }
}
@media only screen and (max-width: 600px) {
  .openingSection > h1 {
    text-align: left;
    display: flex;
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 20px;
  }
  .subHeader > p {
    font-size: 16px;
  }

  .avatar {
    width: 28px;
    height: 28px;
  }
  .blogPost p {
    font-size: 15px;
  }
  .blogPost h2 {
    font-size: 20px;
    margin-top: 0;
  }
  .openingSection {
    margin-bottom: 0;
  }
  .openingSection > h1 {
    font-size: 18px;
    margin-bottom: 20px;
    letter-spacing: 0.05rem;
  }
  .newsLetterSection > h2 {
    font-size: 18px;
  }
  .blogPost input[type="email"] {
    font-size: 13px;
    height: 2rem;
    border-width: 1px;
  }
  .newsLetterSection .plusIcon {
    height: 24px;
  }
  .newsLetterSection form {
    margin-top: 12px;
  }
}
