.subHeader {
  display: flex;
  flex-direction: column;
  text-align: left;
  max-width: 550px;
  line-height: 4rem;
  margin-left: 60px;
}

.openingSection {
  display: flex;
}

.openingSection,
.secondSection {
  margin-top: 5vh;
  margin-bottom: 5vh;
}

/* .openingSection p {
  padding: 20px;
  margin: 0;
  max-width: 60vw;
} */

.openingSection p,
.secondSection p {
  text-align: left;
  letter-spacing: normal;
  line-height: 1.5rem;
}

.image {
  width: auto;
  height: 100%;
  transition: transform 0.5s ease;
}

.avatarAuthor {
  display: flex;
  align-items: center;
  gap: 5px;
}

.blogPost p,
.blogPost h2 {
  text-align: left;
  letter-spacing: normal;
  line-height: 1.5rem;
  text-align: left;
  max-width: 1200px;
  line-height: 2.5rem;
}

.blogPost h2 {
  font-size: 30px;
  font-weight: 300;
  line-height: 2.5rem;
  max-width: 700px;
}

.avatarAuthor p,
.avatarAuthor h2 {
  margin: 0;
  text-align: left;
}
.subHeader > h1 {
  font-size: 46px;
  font-weight: 600;
  color: #505050;
  line-height: 4.2rem;
  margin-top: 0;
}

.subHeader > p {
  font-size: 28px;
}

.shareIconContainer {
  display: flex;
  align-items: center;
  margin-top: 3vh;
  gap: 1vw;
}
.shareIconContainer p {
  margin: 0;
}
.thirdSection {
  margin-bottom: 5vh;
}
/* .thirdSection > h2 {
  font-size: 100px;
} */
.imageContainer {
  height: 500px;
  width: auto;
  overflow: hidden;
}
.imageContainer:hover .image {
  transform: scale(1.05);
  cursor: pointer;
}
@media only screen and (min-width: 1800px) {
  .subHeader > h1 {
    font-size: 56px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1799px) {
  .subHeader > h1 {
    font-size: 40px;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1199px) {
}
