/* .outerWrapper {
    margin-bottom: 2vh;
} */
.outerWrapper h2{
  display: flex;
  padding-left: 10px;
}

.listItem {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem 0;
  gap: 2vw;
}

.listItem p {
  margin: 0; /* Remove default margins for clean alignment */
}

.listItem a {

  text-decoration: underline;
  color: blue;
}






