.img {
  width: 400px;
  height: auto;
}

.icon {
  width: 1vw;
  height: auto;
}

.propertyItemContainer {
  display: flex;
  /* justify-content: space-around;
  align-items: center;
  margin-top: 10vh;
  margin-bottom: 10vh; */
}
.iconContainer {
  display: flex;
  align-items: center;
  gap: 1vw;
}
.infoContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  text-align: left;
  /* gap: 100px; */
}
.infoContainer p {
  margin: 0;
}
