.projectGrid {
}

.projectGrid li {
  border: 1px solid transparent;
  border-radius: 5px;
}

.projectGrid li:hover {
  border: 1px solid rgba(0, 0, 0, 0.123);
  border-radius: 5px;
  background-color: rgba(37, 36, 36, 0.022);
  cursor: pointer;
  filter: drop-shadow(0 0 2rem rgba(174, 237, 237, 0.606));
}

.propertyItem:hover .messageContainer {
  opacity: 1;
}
