.button {
    border: none;
    font-size: inherit;
    background-color: transparent;
    font: inherit;
    cursor: pointer;
  }
  
  .button::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    border-radius: 5px;
    height: 0.05em;
    bottom: 0;
    left: 0;
    background: currentcolor;
    transform-origin: bottom right;
    transition: transform 0.35s ease-out;
  }
  
  .button:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }