.subHeader {
  display: flex;
}

.userDetailsContainer h1 {
  font-weight: 100;
}
.userDetailsContainer p {
  font-size: 16px;
}

.userDetailsContainer hr {
  border-top: 1px solid aliceblue;
}
.userDetailsContainer h2 {
  font-weight: 300;
  font-size: 18px;
}

.listWrapper {
  display: flex;
  align-items: center;
  /* gap: 5vw; */
}
.listWrapperinner {
  flex: 1;
}

.listWrapper h2 {
  margin: 0;
}

.listWrapper p {
  margin: 0;
}

.userDetailsContainer li {
  line-height: 5vh;
}

.buttonContainer {
  margin-top: 5vh;
  display: flex;
  gap: 2vw;
  justify-content: center;
}

.buttonContainer a img,
.buttonContainer a button {
  transition: 0.3s;
}
.buttonContainer a:hover button + img {
  transform: translateX(10px);
}
.buttonContainer a:hover button {
  transform: translateX(-5px);
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: normal;
  letter-spacing: normal;

  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin-top: 5vh;
  border-radius: 5px;
  margin-bottom: 5vh;
  padding: 20px;
  /* padding-top: 0px;
  padding-bottom: 0px; */
  letter-spacing: normal;
}

.row {
  display: flex;
}

.text p {
  font-size: unset;
}
.row p:nth-child(2) {
  font-weight: 400;
}
