.userDetailsContainer {
  text-align: start;
  margin-bottom: 10vh;
}

.userDetailsContainer h1 {
  font-weight: 400;
  text-decoration: underline;
}
.userDetailsContainer h2 {
  font-weight: 400;
}

.listWrapper {
  display: flex;
  align-items: center;
  /* gap: 5vw; */
}
.listWrapperinner {
  flex: 1;
}

.listWrapper h2 {
  margin: 0;
}

.listWrapper p {
  margin: 0;
}

.userDetailsContainer li {
  line-height: 5vh;
}

.buttonContainer {
  margin-top: 5vh;
  display: flex;
  justify-content: center;
}

.buttonContainer a img,
.buttonContainer a button {
  transition: 0.3s;
}
.buttonContainer a:hover button + img {
  transform: translateX(10px);
}
.buttonContainer a:hover button {
  transform: translateX(-5px);
}
