.container {
  /* background-color: #4d001361; */
  /* height: 500px; */
  border: 1px solid black;
  border-radius: 5px;
  /* box-shadow: 2px 2px 15px rgb(89 13 104 / 27%); */
  margin-bottom: 10vh;
  margin-top: 5vh;
}

.accordionSection {
  display: flex;
  flex-direction: column;
  background-color: inherit;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: inherit;
  color: aliceblue;
  cursor: pointer;
  padding: 18px;
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  transition: background-color 0.6s ease;
  border-bottom: 1px solid black;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion:hover,
.active {
  background-color: #80008045;
}

/* Style the accordion content title */
.accordionTitle {
  font-weight: 300;
  font-size: 18px;
}

/* Style the accordion chevron icon */
.accordionIcon {
  margin-left: auto;
  transition: transform 0.6s ease;
}

/* Style to rotate icon when state is active */
.rotate {
  transform: rotate(90deg);
}

.closed {
  display: none;
}

/* Style the accordion content panel. Note: hidden by default */
.accordionContent {
  /* background-color: white; */
  border-bottom: 1px solid black;
  overflow: hidden;
  transition: max-height 0.6s ease;
  color: aliceblue;
}

/* Style the accordion content text */
.accordionText {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  padding: 18px;
}
.active {
  color: aliceblue;
  background-image: linear-gradient(
    90deg,
    transparent,
    rgba(0, 0, 0, 0.04),
    transparent
  );
}


.subHeader {
    display: flex;
  }
  
  .userDetailsContainer h1 {
    font-weight: 100;
  }
  .userDetailsContainer p {
    font-size: 16px;
  }
  
  .userDetailsContainer hr {
    border-top: 1px solid aliceblue;
  }
  .userDetailsContainer h2 {
    font-weight: 300;
    font-size: 18px;
  }
  
  .listWrapper {
    display: flex;
    align-items: center;
    /* gap: 5vw; */
  }
  .listWrapperinner {
    flex: 1;
  }
  
  .listWrapper h2 {
    margin: 0;
  }
  
  .listWrapper p {
    margin: 0;
  }
  
  .userDetailsContainer li {
    line-height: 5vh;
  }
  
  .buttonContainer {
    margin-top: 5vh;
    display: flex;
    justify-content: center;
  }
  
  .buttonContainer a img,
  .buttonContainer a button {
    transition: 0.3s;
  }
  .buttonContainer a:hover button + img {
    transform: translateX(10px);
  }
  .buttonContainer a:hover button {
    transform: translateX(-5px);
  }
  
  .text {
    line-height: normal;
    letter-spacing: normal;
    padding: 18px;
    /* height: 900px; */
  }
  .row {
    display: flex;
  }
  
  .text p {
    font-size: unset;
  }
  .row p:nth-child(2) {
    font-weight: 400;
  }
  