.verticalListContainer {
  width: 80%;
}

.verticalListContainer a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

.verticalListContainer li {
  margin-top: 40px;
}

.image {
  width: 100%;
  height: auto;
}

.avatarAuthor {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 20px;
}
