name: Build and Deploy

on:
  workflow_dispatch: {}
  #push:
    #branches: [main]

env:
  AWS_REGION: eu-central-1
  S3BUCKET: indigo-next

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: 'Create env file'
        run: |
          echo CONTENTFUL_SPACE_ID=${{  vars.CONTENTFUL_SPACE_ID }}
          echo CONTENTFUL_ACCESS_TOKEN=${{ vars.CONTENTFUL_ACCESS_TOKEN }}
      - uses: actions/checkout@v4.2.2
      - uses: actions/setup-node@v4.1.0
        with:
          node-version: "20.x"
          cache: "npm"
      - name: Install dependencies
        run: npm ci
      - name: Build
        run: npm run build
        env:
          CONTENTFUL_SPACE_ID: ${{ vars.CONTENTFUL_SPACE_ID }}
          CONTENTFUL_ACCESS_TOKEN: ${{ vars.CONTENTFUL_ACCESS_TOKEN }}
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}
      - name: Copy files to S3 with the AWS CLI
        run: |
          aws s3 sync ./out s3://${{env.S3BUCKET}}/
