/** @format */

.nav {
  height: 10vh;
  display: flex;
  align-items: center;
  padding-left: 4.5vw;
  padding-right: 4.5vw;
  margin-top: 5vh;
  margin-bottom: 5vh;
  width: 100%;
  font-weight: 300;
  box-sizing: border-box;
}

.nav ul {
  list-style: none;
  flex: 1;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #505050;
  letter-spacing: 0.07em;
  flex-wrap: wrap;
}
.hoverEffect a {
  display: block;
  position: relative;
  padding: 0.2em 0;
}
.hoverEffect a:hover {
  text-decoration: none;
}
.hoverEffect a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.06em;
  background-color: #505050;
  opacity: 0;
  transition: opacity 600ms, transform 600ms;
  opacity: 1;
  transform: scale(0);
  transform-origin: center;
}

.hoverEffect a:hover::after,
.hoverEffect a:focus::after {
  transform: scale(1);
}

.logoIndigo {
  height: 3.5rem;
  width: auto;
}
.mobileNavContainer {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 0;
  height: 100vh;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  height: 100wv;
  overflow: hidden;
  z-index: 20;
  font-size: small;
}

.hamburgerMenu {
  cursor: pointer;
  z-index: 9999;
  opacity: 0.8;
}

.hamburgerContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.mobileNavMenuActive {
  display: flex;
  top: 0;
  left: 0;
  position: absolute;
  align-items: center;
  justify-content: center;
  opacity: 1;
  width: 100vw;
  height: 100vh;
  background-color: #4d0013;
  z-index: 20;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.mobileNavContainer nav,
.mobileNavMenuActive nav {
  /* width: 100%; */
}
.mobileNavContainer li,
.mobileNavMenuActive li {
  width: 100%;
}
.mobileNavContainer ul,
.mobileNavMenuActive ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobileNavMenuActive nav h1,
.mobileNavMenuActive nav li {
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
  color: white;
  font-weight: 300;
  line-height: 5vh;
}

.mobileNavContainer button,
.mobileNavMenuActive button {
  border: none;
  font-size: inherit;
  background-color: transparent;
  font: inherit;
  cursor: pointer;
  color: black !important;
}

.mobileNavContainer a,
.mobileNavMenuActive a {
  color: black !important;
}

.mobileNavMenuActive button:hover {
  text-decoration: underline;
}

.mobileIconContainer {
  display: none;
}

.hidden {
  display: none;
}

@media only screen and (min-width: 1800px) {
  .logoIndigo {
    height: 4rem;
    width: auto;
    padding-left: 30px;
  }
}

@media only screen and (max-width: 800px) {
  .mobileIconContainer {
    display: unset;
    margin-left: auto;
  }
  .nav {
    /* margin-top: 1vh; */
    margin-bottom: 1vh;
  }
  .hamburgerMenu {
    cursor: pointer;
    z-index: 9999;
    height: 45px;
    padding-right: 0;
  }
  .logoIndigo {
    height: 3rem;
    width: auto;
    padding-left: 10px;
  }
}
@media only screen and (max-width: 600px) {
  .hamburgerMenu {
    margin-top: -35px;
    margin-right: 0;
    height: 35px;
  }
  .nav {
    margin-top: 35px;
  }
  .logoIndigo {
    margin-top: -50px;
  }
}
