.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #505050;
    letter-spacing: 0.07em;
    flex-wrap: wrap;

  }
  .hoverEffect a {
    display: block;
    position: relative;
    padding: 0.2em 0;
  }
  .hoverEffect a:hover {
    text-decoration: none;
  }
  .hoverEffect a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.06em;
    background-color: #505050;
    opacity: 0;
    transition: opacity 600ms, transform 600ms;
    opacity: 1;
    transform: scale(0);
    transform-origin: center;
  }
  
  .hoverEffect a:hover::after,
  .hoverEffect a:focus::after {
    transform: scale(1);
  }
  
  .logoIndigo {
    height: 12rem;
    width: auto;
  }
  