/** @format */

.header {
  color: aliceblue !important;
  position: absolute;
  top: 0;
  width: 100%;
}

.loginForm {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  align-items: center;
  letter-spacing: normal;
}

.loginForm p {
  line-height: normal;
  color: #4d0013;
}

.loginForm input,
.loginForm textarea {
  font-size: 20px;
  font-weight: 300;
}

.form label {
  font-size: large;
}

.formItemContainer {
  padding: 1vh;
}

.formCheckboxContainer {
  display: flex;
}

.buttoncontainer {
  display: flex;
  justify-content: space-around;
  margin-top: 5vh;
}

.submitButton {
  background: none;
  color: inherit;
  padding: 0;
  font: inherit;
  cursor: pointer;
  border: none;
}

.submitButtonContainer {
  grid-column-start: 1;
  grid-column-end: span 2;
  grid-row-start: 4;
  grid-row-end: 4;
  width: 200px;
  height: 50px;
  justify-self: center;
}

.input {
  grid-column-start: 1;
  grid-column-end: span 2;
  grid-row-start: 3;
  grid-row-end: 3;
}

.registerPageContainer {
  height: 100vh;
}

.contactIcon {
  height: auto;
  width: 50px;
}
/* .contactIcon:hover {
  animation: pop 0.3s linear 1;
} */

.ItemA {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
}

.errorA {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
}

.ItemB {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
}
.errorB {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
}

.ItemC {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 3;
}

.errorC {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 4;
}

.ItemD {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 3;
}

.errorD {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 4;
}

.ItemE {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 5;
}

.errorE {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 6;
  grid-row-end: 6;
}

.ItemF {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 7;
  grid-row-end: 7;
}

.error {
  color: #4d0013;
}

.errorLayout {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
}

.errorLayout p {
  letter-spacing: normal;
}

.errorLayout a {
  all: unset;
}

.errorLayout a:hover {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

.modalInnerWrapper h2 {
  color: aliceblue;
  font-weight: 200 !important;
  font-size: 30px !important;
}

.modalInnerWrapper p {
  color: aliceblue;
  font-weight: 200 !important;
  font-size: 24px !important;
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media only screen and (min-width: 1800px) and (max-width: 1920px) {
  .loginForm input,
  .loginForm textarea {
    font-size: 16px;
  }
  .submitButtonContainer {
    width: 150px;
    height: 40px;
  }
}

@media only screen and (min-width: 1600px) and (max-width: 1800px) {
  .loginForm input,
  .loginForm textarea {
    font-size: 16px;
  }
  .submitButtonContainer {
    width: 150px;
    height: 40px;
  }
  .contactIcon {
    height: auto;
    width: 35px;
  }

}

@media only screen and (min-width: 800px) and (max-width: 1600px) {
  .contactIcon {
    height: auto;
    width: 35px;
  }

  .loginForm input,
  .loginForm textarea {
    font-size: 16px;
  }

  .submitButtonContainer {
    width: 130px;
    height: 40px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 800px) { }

@media only screen and (max-width: 600px) {
  .logoIndigo {
    height: 10rem;
    width: auto;
  }
  .submitButtonContainer {
    margin: 2vh;
    /* display: flex; */
    width: 120px;
    height: 35px;
  }

  .submitButtonContainer button {
    font-size: 12px;
  }

  .loginForm {
    display: flex;
    flex-direction: column;
    /* letter-spacing: normal; */
  }

  .loginForm div:nth-of-type(1) {
    animation: fadeInLeft 1s;
    animation-delay: 30s;
    animation-fill-mode: backwards;
    animation-timing-function: ease-out;
  }

  .loginForm div:nth-of-type(2) {
    animation: fadeInLeft 1s;
    animation-delay: 1.8s;
    animation-fill-mode: backwards;
    animation-timing-function: ease-out;
  }

  .loginForm div:nth-of-type(3) {
    animation: fadeInLeft 1s;
    animation-delay: 2s;
    animation-fill-mode: backwards;
    animation-timing-function: ease-out;
  }

  .loginForm div:nth-of-type(4) {
    animation: fadeInLeft 1s;
    animation-delay: 2.2s;
    animation-fill-mode: backwards;
    animation-timing-function: ease-out;
  }

  .loginForm div:nth-of-type(5) {
    animation: fadeInLeft 1s;
    animation-delay: 2.4s;
    animation-fill-mode: backwards;
    animation-timing-function: ease-out;
  }

  .loginForm div:nth-of-type(6) {
    animation: fadeInLeft 1s;
    animation-delay: 2.6s;
    animation-fill-mode: backwards;
    animation-timing-function: ease-out;
  }

  .formItemContainer {
    width: 70%;
  }

  .formItemContainer input,
  .formItemContainer textarea {
    background-color: rgba(128, 128, 128, 0.259);
  }
}
