.header {
  color: aliceblue !important;
  position: absolute;
  top: 0;
  width: 100%;
}

.loginForm {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  align-items: center;
}

.form label {
  font-size: large;
}

.formItemContainer {
  padding: 1vh;
}

.formCheckboxContainer {
  display: flex;
}

.buttoncontainer {
  display: flex;
  justify-content: space-around;
  margin-top: 5vh;
}

.submitButton {
  background: none;
  color: inherit;
  padding: 0;
  font: inherit;
  cursor: pointer;
  border: none;
}

.submitButtonContainer {
  grid-column-start: 1;
  grid-column-end: span 2;
  grid-row-start: 4;
  grid-row-end: 4;
  width: 200px;
  height: 50px;
  justify-self: center;
}

.input {
  grid-column-start: 1;
  grid-column-end: span 2;
  grid-row-start: 3;
  grid-row-end: 3;
}

.registerPageContainer {
  height: 100vh;
}

.contactIcon {
  height: auto;
  width: 40px;
}
.contactIcon:hover {
  animation: pop 0.3s linear 1;
}
@keyframes pop {
  50% {
    transform: scale(1.4);
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1799px) {
  .contactIcon {
    height: auto;
    width: 30px;
  }

  .submitButtonContainer {
    margin: 2vh;
    display: flex;
    width: 150px;
    height: 40px;
  }
}

@media only screen and (max-width: 600px) {
  .logoIndigo {
    height: 10rem;
    width: auto;
  }
  .submitButtonContainer {
    margin: 2vh;
    display: flex;
    width: 100px;
    height: 20px;
  }

  .loginForm {
    display: unset;
  }
}
