.pendingButton {
  background: none;
  background-color: rgb(139, 139, 139);
  display: flex;
  color: inherit;
  padding: 0;
  font: inherit;
  cursor: pointer;
  border: 1px solid #505050;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 5px;
}

.button {
  z-index: 10;
  background-color: aqua;
  color: black;
}

.linkWrapper a img,
.linkWrapper a button {
  transition: 0.3s;
}
.linkWrapper a:hover button + img {
  transform: translateX(10px);
}
.linkWrapper a:hover button {
  transform: translateX(-5px);
}

.spinnerWrapper,
.spinnerWrapper div:nth-of-type(1) {
  animation: unset !important;
}